body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.members,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.error {
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  background-color: red;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* .jumbotron {
  background: rgba(236, 231, 231, 0.333);
  margin: 20px;
  padding: 30px 40px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  /* border-radius: 10px; */
/* } */
.jumbotron .btn {
  padding: 5px 40px;
  font-size: 16px;
}
.members {
  background-color: rgba(236, 231, 231, 0.333);
  min-width: 250px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.member {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.members btn {
  display: flex-end;
  justify-content: space-between;
}
.members p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header,
  .members,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(165, 159, 159, 0.5);
  color: #333;
}

.modal-content {
  margin: 10% auto;
  padding: 5%;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
